.navbar {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgb(0, 0, 0, 0.6) 0px 1px 2px 0px;
}
.navbar__list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: 1.1em;
  font-weight: 600;
}
.navbar__list > li {
  cursor: pointer;
  transition: 150ms;
}
.navbar__list > li:hover {
  color: rgb(0, 0, 0, 0.6);
}
